.intro__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  @media screen and (max-width: 1024px) {
    .intro__list {
      max-width: 74.355%;
    }
  }

  @media screen and (max-width: 768px) {
    .intro__list {
      max-width: 100%;
    }
  }